body {
  margin: 0;
}
#topleft ul {
  text-decoration: none;
  list-style: none;
  width: 350px;
  padding-top: 20px;
}
#topleft ul li {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
#topleft ul li a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
}

.header1 {
  height: 160px;
  display: flex;
  flex-direction: column;
}

.banner1 {
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ul1 {
  display: flex;
  flex-direction: row;
}

.container {
  min-height: 500px;
  justify-content: center;
  display: flex;
  color: aliceblue;
}
.menu {
  height: 56px;
  background-color: #000;
}
.logo1 {
  width: 560px;
}
#slide img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.slide-image {
  transition: opacity 1s ease-in-out, transform 5s ease-in-out;
  filter: none !important;
}

.slide-image.active {
  transform: scale(1.05);
}
