.App {
  font-family: sans-serif;
  text-align: center;
}
.auth-container,
.container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #3f9d47;
}

a {
  color: #2196f3;
  text-decoration: none;
}
